
<div class="row">
  <div class="col-4"></div>
  <div class="col-4 mt-5 border  bg-light " style="width: 419px;height: 500px;">
    <div style="background-color: pink;height: 200px;margin-top: -48px;width: 418px; margin-left: -13px;color: white;">
      
      <h1 class="mt-5 mb-4 text-center" style="color: black;">My Todo List</h1>
       
      <input type="button" value="Add Task"  class="btn btn-primary mt-3" (click)="addTask()" style="margin-left: 131px;width: 200px;">
   
    </div>
    
      <div class="task" *ngFor="let task of taskList; let i = index">
        <form  style="margin-left: 100px;" >
        
          <span class="title">Task number:</span> {{i +1}}       
              
        <span> <input [(ngModel)]="task.description"  type="text" id="taskName" name="taskName" placeholder="Enter Your Task"></span>
            
          <span class="remove">
                <button (click)='removeTask(i)' style="color: red; margin-left: 3px;"> X</button>
            
          </span>
        </form>   
      
      </div>
    
</div>
  <div class="col-4"></div>
</div>
